doctype html
html
  head
    meta(charset='utf-8')
    title constantinescu.io
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description', content="Andrei Constantinescu's personal page.")
    
    // build:css({client,public}) /css/main.css
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower
    link(rel="stylesheet", href="css/main.css")
    // endbuild
  body
    .container
      .image
        img.img-responsive(src='assets/img/ocean.jpg')
        .message
          h1 Hello There!
          .small This will be updated!
    // build:js({client,public}) /js/main.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower
    script(src="js/main.js")
    // endbuild
